
{% extends 'base.html' %}
{% load static %}

{% block title %} Activity List {% endblock title %}

{% block body %} 

<div class="container my-150 " >
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Activity Id </th>
          <th scope="col">Activity name  </th>
          <th scope="col">Status </th>
          <th scope="col">Create date </th>
         
        </tr>
      </thead>

      <tbody>
        <tr>
          {% for activity in activity_list %}
          <td>{{activity.Activity_id}}</td>
          <td>{{activity.Activity_name}}</td>
          <td>{{activity.status}}</td>
          <td>{{activity.Create_date}}</td>
        </tr>
          {% endfor %}
       
          {% comment %} <th scope="row"></th> {% endcomment %}
          
      {% comment %} <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
         
        </tr>
        <tr>
          <th scope="row">3</th>
          <td >Larry the Bird</td>
          <td>@twitter</td>
          <td>@mdo</td>
         
        </tr>
  
        <tr>
          <th scope="row">3</th>
          <td >Larry the Bird</td>
          <td>@twitter</td>
          <td>@mdo</td>
          
        </tr>
  
        <tr>
          <th scope="row">3</th>
          <td >Larry the Bird</td>
          <td>@twitter</td>
          <td>@mdo</td>
         
          
        </tr>
  
        <tr>
          <th scope="row">3</th>
          <td >Larry the Bird</td>
          <td>@twitter</td>
          <td>@mdo</td>
          
       
        </tr>
  
        <tr>
          <th scope="row">3</th>
          <td >Larry the Bird</td>
          <td>@twitter</td>
          <td>@mdo</td>
         
         
        </tr>
  
        <tr>
          <th scope="row">3</th>
          <td >Larry the Bird</td>
          <td>@twitter</td>
          <td>@mdo</td>
          
          
        </tr> {% endcomment %}
      </tbody>
      
    </table>
  </div>
  
  {% endblock body %}